.block-all-categories{ 
    width: 335px;
    height: 228px;
    
    
    overflow-y: auto;
    @media screen and (min-width: 768px) {
            
            width: 337px;
            height: 472px;
            overflow-y: auto;
            
            //margin-top: 40px;
            
        }
    @media screen and (min-width: 1440px) {
            
            height: 472px;
            overflow-y: auto;
        }
}

.book-categories-list{
    font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 133.333% */
        letter-spacing: -0.36px;
        //color: rgba(17, 17, 17, 0.60);
}

.all-categories{
    
    //color: rgba(17, 17, 17, 0.60);
    font-family: 'DM Sans Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
        /* 112.5% */
    letter-spacing: -0.32px;
}

.book-category{
    margin-top: 24px;
    //color: rgba(17, 17, 17, 0.60);
        font-family: 'DM Sans Regular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 112.5% */
        letter-spacing: -0.32px;
}

.book-category{
    
    cursor: pointer;
    
}

.book-category {
    
    cursor: pointer;
    
}

.section-all-categories{
    z-index: 1000;
    max-width: 375px;
        padding-top: 40px;
        // padding-left: 20px;
        // padding-right: 20px;
        padding-bottom: 40px;
        margin: 0 auto;
    @media screen and (min-width: 768px) {
            max-width: 704px;
            display: flex;
            gap: 32px;
            // padding-left: 32px;
            // padding-right: 32px;
        }
    @media screen and (min-width: 1440px) {
            position: absolute;
            width: 356px;
            flex-direction: column;
            gap: 86px;
            padding-left: 0px;
            padding-right: 0px;
        }
}

.div-qqq {
    
    width: 335px;
    height: 352px;
    color: #4F2EE8;
    border: 1px;
    border-radius: 16px;
        background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 34.19%, #FFF 100%);
        box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    margin-top: 40px;
    

    @media screen and (min-width: 768px) {
        margin-top: 0;
        width: 335px;
        height: 474px;
    }
}


.title-book-all{
    display: block;
    width: 335px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 40px;
    //color: #111;
        font-family: 'DM Sans Regular';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -1.28px;
        @media screen and (min-width: 768px) {
                width: 704px;
                padding-left: 0;
                margin-top: 60px;
                margin-left: 0;
                //color: #111;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: -1.92px;
            }
                @media screen and (min-width: 1440px) {
                    margin-left: 0;
                    padding-left: 0;
                }
}

.last-title-word{
    color: #4F2EE8;
    margin-bottom: 40px;}

.see-more-btn {
    width: 124px;
    display: inline-flex;
padding: 14px 28px;
align-items: flex-start;
gap: 10px;
    height: 46px;
    border-radius: 40px;
border: 2px solid #4F2EE8;
margin-left: 211px;
color: #111;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 128.571% */
letter-spacing: -0.14px;
text-transform: uppercase;
align-items: center;
@media screen and (min-width: 768px) {
margin-left: 580px;
    
}
@media screen and (min-width: 1440px) {
    margin-left: 872px;
        
    }
}

.slider{
    width: 159px;
    height: 188px;
    margin-top: 44px;
    margin-left: 40px;
    @media screen and (min-width: 768px) {
            width: 159px;
            height: 292px;
            margin-top: 42px;
        }
}

.div-qqq-title{
    display: inline-block;
    //z-index: 1;
    color: #FFF;
        font-family: 'DM Sans Regular';
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.88px;
        margin-top: 28px;
        margin-left: 40px;
        @media screen and (min-width: 768px) {
            margin-top: 26px;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.96px;
            }
}

.slick-prev {
     left: 0; 
     display: none;
}

.slick-prev:before {
    content: '';
}

.slick-next {
    width: 32px;
    position: absolute;
    top: 100%;
    left: 65%;
    rotate: 90deg;
    opacity: 1;
    @media screen and (min-width: 768px) {
            top: 110%;
            width: 38px;
        }
}



.slick-prev:before,
.slick-next:before {
    
    font-size: 32px;
    @media screen and (min-width: 768px) {
           
            font-size: 38px;
        }
}

.slider-link{
    display: flex;
    gap: 16px;
    align-items: center;
    height: 32px;
}

.slider-link-text{
    color: #FFF;
        font-family: 'DM Sans Regular';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: -0.56px;
}

.slider-item{
    height: 32px;
    margin-bottom: 20px;
}

.slider-link-img{
    height: 32px;
}

.support-ukraine-block{
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.support-ukraine-block-svg{
    height: 32px;
    width: 20px;
}