.block-all-categories{ 
    width: 335px;
    height: 228px;
    
    
    overflow-y: auto;
    @media screen and (min-width: 768px) {
            
            width: 337px;
            height: 472px;
            overflow-y: auto;
            
            //margin-top: 40px;
            
        }
    @media screen and (min-width: 1440px) {
            
            height: 472px;
            overflow-y: auto;
        }
}

.book-categories-list{
    font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 133.333% */
        letter-spacing: -0.36px;
        color: rgba(17, 17, 17, 0.60);
}

.all-categories{
    
    color: rgba(17, 17, 17, 0.60);
    font-family: 'DM Sans Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
        /* 112.5% */
    letter-spacing: -0.32px;
}

.book-category{
    margin-top: 24px;
    color: rgba(17, 17, 17, 0.60);
        font-family: 'DM Sans Regular';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 112.5% */
        letter-spacing: -0.32px;
}

.book-category:hover {
    color: #4F2EE8;
    cursor: pointer;
}

.book-category:focus {
    color: #4F2EE8;
    cursor: pointer;
}

.section-all-categories{
    
    max-width: 375px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        margin: 0 auto;
    @media screen and (min-width: 768px) {
            max-width: 768px;
            display: flex;
            gap: 32px;
            padding-left: 32px;
            padding-right: 32px;
        }
    @media screen and (min-width: 1440px) {
            position: absolute;
            width: 356px;
            flex-direction: column;
            gap: 86px;
            padding-left: 0px;
            padding-right: 0px;
        }
}

.div-qqq {
    width: 335px;
    height: 352px;
    color: #4F2EE8;
    border: 1px;
    border-radius: 16px;
        background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 34.19%, #FFF 100%);
        box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    margin-top: 40px;
    

    @media screen and (min-width: 768px) {
        margin-top: 0;
        width: 337px;
        height: 472px;
    }
}


.title-book-all{
    display: block;
    width: 375px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    color: #111;
        font-family: 'DM Sans Regular';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -1.28px;
        @media screen and (min-width: 768px) {
                width: 768px;
                padding-left: 32px;
                margin-top: 60px;
                color: #111;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: -1.92px;
            }
}

.last-title-word{
    color: #4F2EE8;
    margin-bottom: 40px;}

.see-more-btn {
    height: 46px;
    padding: 14px 28px;
    border-radius: 40px;
border: 2px solid #4F2EE8;
}
