.block-all-categories{ 
    width: 375px;
    height: 228px;
    
    
    overflow-y: auto;
    @media screen and (min-width: 768px) {
            border: 1px solid red;
            width: 337px;
            height: 472px;
            overflow-y: auto;
            
            //margin-top: 40px;
            
        }
    @media screen and (min-width: 1440px) {
            border: 1px solid red;
            height: 472px;
            overflow-y: auto;
        }
}

.book-categories-list{
    list-style: none;
    font-family: 'DM Sans Regular';
    font-style: normal;
    color: #111111;
    opacity: 0.6;
    font-weight: normal;
}

.all-categories{
    font-family: 'DM Sans Regular';
    font-size: 16px;
    color: #111111;
    opacity: 0.6;
}

.book-category{
    margin-top: 24px;
}

.book-category:hover {
    color: #4F2EE8;
    cursor: pointer;
}

.book-category:focus {
    color: #4F2EE8;
    cursor: pointer;
}

.section-all-categories{
    max-width: 375px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        margin: 0 auto;
    @media screen and (min-width: 768px) {
            max-width: 768px;
            display: flex;
            gap: 32px;
        }
    @media screen and (min-width: 1440px) {
        position: absolute;
            max-width: 1440px;
            flex-direction: column;
            gap: 86px;
        }
}

.div-qqq {
    width: 335px;
    height: 352px;
    color: blue;
    border: 1px;
    background-color: blue;
    margin-top: 40px;
    border-radius: 16px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        width: 337px;
        height: 472px;
    }
}