
.books-by-category {
    width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        //border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            padding-left: 32px;
            padding-right: 32px;
            margin: 0 auto;
            
            width: 768px;
        }
        @media screen and (min-width: 1440px) {
            //border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            width: 996px;
            padding-left: 0px;
            padding-right: 0px;
        }
}

.section-book-card{
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
            width: 218px;
            margin-bottom: 15px;
        }
    @media screen and (min-width: 1440px) {
            width: 180px;
            margin-bottom: 15px;
        }
}

.section-book-card-title{
    color:#111111;
   font-family: 'DM Sans Bold';
   margin-top: 14px;
   font-size: 16px;
}

.section-book-card-text{
    font-family: 'DM Sans Italic';
    margin-top: 4px;
    font-size: 12px;
    color: #B4AFAF;
}

.section-book-card-img{
    border-radius: 8px;
    @media screen and (min-width: 768px) {
            width: 218px;
        }
    @media screen and (min-width: 1440px) {
            width: 180px;
        }
}