.section-bookbycat-card-img{
    border-radius: 8px;
    
        @media screen and (min-width: 768px) {
            width: 218px;
        }
    
        @media screen and (min-width: 1440px) {
            width: 180px;
        }
}