.last-title-word {
    color: blue;
}

.item2, .item3 {
    display: none;
   
    @media screen and (min-width: 768px) {
        display: block;
        
        }

  

}
.item4, .item5 {
    display: none;
    @media screen and (min-width: 1440px) {
        display: block;
       }
}






.one-category-section {
    
        width: 335px;
        padding-bottom: 40px;

    
    @media screen and (min-width: 768px) {
        
        width: 704px;
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            
            
        }
        @media screen and (min-width: 1440px) {

            width: 996px;
            flex-wrap: wrap;
            gap: 24px;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            //margin-left:200px;
            margin-right: 0px;
                }
        
}

.section-book-card{
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
            width: 218px;
            margin-bottom: 15px;
        }
    @media screen and (min-width: 1440px) {
            width: 180px;
            margin-bottom: 15px;
        }
}

.section-book-card-title{
    //color:#111111;
   font-family: 'DM Sans Bold';
   margin-top: 14px;
   font-size: 16px;
}

.section-book-card-text{
    font-family: 'DM Sans Italic';
    margin-top: 4px;
    font-size: 12px;
    color: #B4AFAF;
}

.section-book-card-img{
    border-radius: 8px;
    @media screen and (min-width: 768px) {
            width: 218px;
        }
    @media screen and (min-width: 1440px) {
            width: 180px;
        }
}

.books-by-category-section{
    @media screen and (min-width: 768px) {
            width: 704px;
        }
                @media screen and (min-width: 1440px) {
                    width: 996px;
                    margin-left: 402px
                }
}

.books-by-category {

    
    @media screen and (min-width: 1440px) {
        margin-left: 0;
    }

}