// .section-all-categories{
//     margin-left: 20px;
// }


.book-category:hover{
color:#4F2EE8;
cursor: pointer;
}

// .books-by-category{
//     display: flex;
//     gap:24px;
//     flex-wrap: wrap;
// }

// .section-book-name{
//     margin-top: 40px;
//     margin-left: 20px;
//     font-family: DM Sans;
//     font-size: 32px;
//     font-weight: bold;
//     line-height: 38px;
// }

.section-book-card{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    
}

.section-book-card-title{
    color:#111111;
   font-family: DM Sans;
   font-weight: bold;
   margin-top: 14px;
   font-size: 16px;
}

.section-book-card-text{
    font-family: DM Sans;
    font-style: italic;
    margin-top: 4px;
    font-size: 12px;
    color: #B4AFAF;
}

.section-book-card-img{
    border-radius: 8px;
}