*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}

.header__container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
}

.menu-container {
  min-width: 320px;
  max-width: 1440px;
  border: 1.5px solid rgba(17, 17, 17, 1);
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 18px 20px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__icon {
  margin-right: 8px;
}

.navigation {
  display: none;
}

.switcher {
  margin-right: 14px;
  margin-left: auto;
}
.switcher__button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.switcher__button::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 17.5px;
  height: 17.5px;
  background: linear-gradient(180deg, #dcdcdc 0%, #f7f7f7 100%);
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.switcher__button:checked::after {
  transform: translateX(calc(100% + 3px));
  background: linear-gradient(180deg, #dcdcdc 0%, #f7f7f7 100%);
}
.switcher__button:checked {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.header-user {
  display: none;
}

.mob-menu-open__btn,
.mob-menu-close__btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mob-menu-open__btn,
.mob-menu-close__btn {
  stroke: rgba(17, 17, 17, 1);
}

.mob-menu-close__btn {
  display: none;
}

.mob__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 84px 20px 20px;
  background: url(../images/menu-group.png) 50% 100% no-repeat,
    radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob__container.is-open {
  transform: translateY(0);
}

.mob-menu__container {
  display: block;
}

.mob-user {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.header-user__img,
.mob-user__img {
  border-radius: 37px;
  margin-right: 9px;
}

.header-user__name,
.mob-user__name {
  color: rgba(246, 246, 246, 1);
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.44px;
  margin-right: 4px;
}

.mob-navigation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mob-navigation__item_home {
  display: inline-block;
  margin-bottom: 16px;
}

.navigation__link_home,
.mob-navigation__link_home {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  line-height: 1.29;
  font-style: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.mob-navigation__item_shopping {
  margin-bottom: 16px;
}

.navigation__link_shopping,
.mob-navigation__link_shopping {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: -0.56px;
}

.shopping-icon {
  margin-left: 4px;
  fill: rgba(255, 255, 255, 1);
}

.active-tab {
  background-color: rgba(234, 198, 69, 1);
  border-radius: 36px;
  padding: 8px 16px;
  font-weight: 700;
}

.active-link-mob {
  color: rgba(17, 17, 17, 1);
}

.active-shopping-icon {
  fill: rgba(17, 17, 17, 1);
}

.no-active-tab {
  font-weight: 500;
}

.mob-user-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(17, 17, 17, 1);
  border-radius: 18px;
  width: 118px;
  height: 48px;
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.mob-user-logout-text {
  color: rgba(17, 17, 17, 1);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
  margin-right: 4px;
}

.btn-hide {
  display: none;
}

.btn-show {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .mob-menu-open__btn {
    display: none;
  }

  .menu-container {
    padding: 14px 32px 13px;
  }
  .header-logo {
    margin-right: 40px;
  }

  .navigation {
    display: block;
  }

  .navigation__list {
    display: flex;
    align-items: center;
  }

  .navigation__item_home {
    margin-right: 16px;
  }

  .navigation__link_shopping {
    color: rgba(17, 17, 17, 1);
  }

  .shopping-icon {
    fill: rgba(17, 17, 17, 1);
  }

  .switcher {
    margin-right: 24px;
  }

  .header-user {
    display: flex;
    align-items: center;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    background: rgba(79, 46, 232, 1);
    border-color: rgba(0,0,0,0);
  }
}

@media screen and (min-width: 1440px) {
  .header__container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .menu-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header-logo {
    margin-right: 76px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-logo:hover {
    border-radius: 6px;
    background-color: rgba(234, 198, 69, 1);
    padding: 8px 0px;
  }

  .navigation__item_home {
    margin-right: 24px;
  }

  .navigation__item_home,
  .header-user {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation__item_home:hover,
  .navigation__item_home:focus,
  .header-user:hover,
  .header-user:focus {
    border-radius: 6px;
  }

  .navigation__item_shopping span {
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation__item_shopping span:after {
    top: -100%;
    left: 0;
    width: 100%;
    position: absolute;
    content: 'BUY';
    text-align: end;
    transform-origin: left bottom;
    transform: rotateX(90deg);
  }

  .navigation__item_shopping span:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
  }
}
