.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    left:  50%;
    top: 50%;
   transform: translate(-50%,-50%);
  
    // top: 0;
    width: 335px;
    height: 100%;
    overflow: auto;
    border-radius: 18px;
    border: 2px solid #111;
    background: #FFF;
@media screen and (min-width: 768px) {
  width: 579px;
height: 50%;
 }

  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fefefe;
 
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    @media screen and (min-width: 768px) {
height: 100%;
flex-direction: row;
align-items: flex-start;
flex-wrap: nowrap;
     }
  }
  
  /* The Close Button */
  .close {
    color: #111111;
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-image {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 192px;
height: 281px;
     }
  }

  .add-to-list-btn {
    // margin: 0 auto;
    // display: block;
    display: flex;
width: 499px;
padding: 20px 173px;
justify-content: center;
align-items: center;
gap: 10px;
    border-radius: 40px;
border: 2px solid #4F2EE8;
color: #111;
font-size: 18px;
font-style: normal;
font-weight: 700;

  }