.body-scroll-lock {
  overflow: hidden;
}
.modal {
  display: none;
  position: fixed;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;


    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    width: 335px;
    height: 100%;
    
    
    border-radius: 18px;
    border: 2px solid #111;
    background: #FFF;
    @media screen and (min-width: 375px) {
     height: 660px;
     width: 335px;
     }
@media screen and (min-width: 768px) {
  width: 579px;
height: 70%;
 }

  }
  
  
  
  /* The Close Button */
  // .close {
  //   color: #111111;
  //   position: absolute;
  //   top: 2px;
  //   right: 12px;
  //   font-size: 35px;
  //   font-weight: bold;

  // }


/* Modal Content */
.modal-content {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefefe;

  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  @media screen and (min-width: 375px) {
    height: 474px;
    width: 287px;
    
  }
  @media screen and (min-width: 768px) {
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.modal-content-parent {
  // margin-bottom: 40px;
}

/* The Close Button */
.close {
  color: #111111;
  position: absolute;
  top: 2px;
  right: 12px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.modal-image {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 192px;
    height: 281px;
  }
}

.add-to-list-btn {
  // padding: 14px 28px;
  justify-content: center;
  align-items: center;
  // gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  min-width: 279px;
  height: 46px;
  @media screen and (min-width: 768px) {
    width: 499px;
  
    padding: 20px 150px;
  }
}
.remove-from-list-btn {
  // padding: 14px 28px;
  justify-content: center;
  align-items: center;
  // gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: #111;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  min-width: 279px;
  height: 46px;
  
  .remove-from-list-btn:hover,
.remove-from-list-btn:focus {
  background-color: #4f2ee8;
  color: #ffffff;
}

.add-to-list-btn:hover,
.add-to-list-btn:focus {
  background-color: #4f2ee8;
  color: #ffffff;
}
  @media screen and (min-width: 768px) {
    width: 499px;
  height: 64px;
    padding: 20px 100px;
  }

}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #11111166;
  z-index: 9998;
  display: none;
}
.modal-active {
  display: block;
}

