.btn-up {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 3.25rem;
    right: 1.875rem;
    z-index: 1;
    width: 64px;
    height: 64px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.up-icon {
    border: transparent;
    color: transparent;
    background-color: transparent;
}