.amazon {
    display: none;
}
.book-ios {
    display: none;
}
.book-shop {
    display: none;
}
.svg {
    display: none;
}
.trash-btn {
    width: 34px;
height: 34px;
background-color: #4F2EE8;
border-radius: 50%;
}