.amazon {
    display: none;
}
.book-ios {
    display: none;
}
.book-shop {
    display: none;
}
.svg {
    display: none;
}
.trash-btn {
    position: absolute;
    left: 285px;
    width: 34px;
height: 34px;
background-color: #4F2EE8;
border-radius: 50%;
@media screen and (min-width: 768px) {
    left: 655px;
  }
  @media screen and (min-width: 1440px) {
    left: 950px;
  }
}

.shopping-list-card {
    position: relative;
    display: flex;
    padding: 14px;
    
width: 335px;
border-radius: 16px;
border: 2px solid rgba(79, 46, 232, 0.40);
background: #FFF;
@media screen and (min-width: 768px) {
    width: 704px;
    gap: 24px   ;
    height: 213px;
  }
  @media screen and (min-width: 1440px) {
    width: 996px;
     ;
    height: 213px;
  }
}
.shopping-list-image {
    width: 100px;
    height: 165px;
    border-radius: 8px;
    margin-right: 14px;
    @media screen and (min-width: 768px) {
        width: 116px;
      }
}
.shopping-list-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shopping-list-book-links {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}
.shopping-list-title {
    color: #111;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 112.5% */
letter-spacing: -0.64px;
text-transform: uppercase;
}
.shopping-list-classlist {
    color: #B4AFAF;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
letter-spacing: 0.36px;
}
.shopping-list-description-short {
color: #111;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
@media screen and (min-width: 768px) {
    display: none;
   }
}
.shopping-list-author {

    color: #B4AFAF;
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: 14px; /* 116.667% */
letter-spacing: -0.48px;
margin-right: 30px;
@media screen and (min-width: 768px) {
   margin-right: 279px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 597px;
   }
}
.shopping-list-description { 
    @media screen and (min-width: 768px) {
        margin-right: 279px;
        display: inline
       }
    
}