@import './common';
@import './reset';
@import './book-kategories-list';
@import './fonts';
@import './charity_fond';
@import './all_categories';
@import './general';
@import './modal';

@import './header';
@import './modal-login-form';
@import './settings-modal.scss';


@import './all_books';
@import './shopping-list';


body{ 
    color: #111111;
    margin: 0 auto;
    background: #F6F6F6;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
        margin: 0 auto;
            max-width: 768px;
            padding-left: 32px;
            padding-right: 32px;
        }
    
    @media screen and (min-width: 1440px) {
            max-width: 1440px;
            padding-left: 24px;
            padding-right: 24px;
        }

    }


.aaa {
    background-color: #160e0e;
    color: #ffffff;
}