<div id="burgerModal" class="burger-modal">
    <button type='button' class="burger-user-btn"><img src="/src/img/Stephen-auth.png" alt="">Stephen</button>
  <div class="burger-buttons">
    <button class="burger-home-btn" type="button">home</button> 
    <button class="burger-list-btn" type="button">Shopping list<svg class="list-btn-svg fill-white" width="20" height="20">
        <use href="/src/img/icons.svg#icon-uil_cart"></use>
      </svg></button>
  </div>
  <button type="button" class="burger-login-btn">Log out</button>

  <img class="group-img" src="/src/img/Group.png" alt="" /> 
</div>
<div class="backdrop"></div>
