<div id="burgerModal" class="burger-modal">
  <button type="button" class="burger-user-btn">
    <img src="/src/img/Stephen-auth.png" alt="" />Stephen 
  </button> 
  <div class="burger-buttons">
    <a href="/src/index.html" class="burger-home-btn"
      >Home</a>
    <a href="/src/shopping_list.html" class="burger-list-btn"> 
        Shopping list<svg
          class="list-btn-svg fill-white"
          width="20"
          height="20"
        >
          <use href="/src/img/icons.svg#icon-uil_cart"></use>
        </svg>
      </a>
  </div>
  <button type="button" class="burger-login-btn">Log out <svg
    class="list-btn-svg"
    width="20"
    height="20"
  >
    <use href="/src/img/icons.svg#icon-arrow-narrow-right"></use></svg></button>

  <img class="group-img" src="/src/img/Group.png" alt="" />
</div>
<div class="backdrop"></div>

