<section class="menu-section">
      <div class="container menu-container" >
      <button
        type="button"
        class="button menu-signup js-open-modal"
        data-modal="modal-menu">
        <span class="menu-but-text">Sign up</span>
        <svg class="menu-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      
      <div class="menu-photo">
        <img 
        src="./img/Group 6a.jpg"
        alt="Group 6-photo"
         />
      </div>
    </div >
  </section>







  <!-- <ul class="menu-group-photo">
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu13.jpg"
      alt="menu-photo13"
       />
      </li>
    <li class="menu-photo photo14">
      <img class="staff-foto"
      src="./img/menu14.jpg"
      alt="menu-photo14"
        />
      </li>
    <li class="menu-photo photo11">
      <img class="staff-foto"
      src="./img/menu11.jpg"
      alt="menu-photo11"
       />
    </li>
    <li class="menu-photo photo15">
      <img class="staff-foto"
      src="./img/menu15.jpg"
      alt="menu-photo15"
       />
    </li>
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu17.jpg"
      alt="menu-photo17"
       />
    </li> 
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu16.jpg"
      alt="menu-photo16"
       />
    </li> 
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu18.jpg"
      alt="menu-photo18"
       />
    </li> 
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu12.jpg"
      alt="menu-photo12"
       />
    </li>  -->
    <!-- <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu20.jpg"
      alt="menu-photo20"
       />
    </li> 
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu19.jpg"
      alt="menu-photo19"
       />
    </li> 
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu21.jpg"
      alt="menu-photo21"
       />
    </li> 
    <li class="menu-photo photo13">
      <img class="staff-foto"
      src="./img/menu22.jpg"
      alt="menu-photo22"
       />
    </li> -->
    <!-- </ul>    --> 