<section class="section-all-categories">
  <div class="block-all-categories">
    <h2 class="all-categories-js all-categories">All categories</h2>
    <ul class="book-kategories-list-js book-categories-list"></ul>
  </div>
  <div class="div-qqq">
    <div class="support-ukraine-block">
      <h2 class="div-qqq-title">Support Ukraine</h2>
      <svg class="support-ukraine-block-svg">
        <use href="/src/img/icons.svg#icon-Gerb"></use>
      </svg>
    </div>

    <div class="slider">
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">01</p>
          <img
            src="/src/img/Sergiy-Prytula.png"
            alt=""
            height="32"
            class="slider-link-img"
          />
        </a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">02</p>
          <img
            src="/src/img/International-medical.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">03</p>
          <img
            src="/src/img/Medecins-sans.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">04</p>
          <img
            src="/src/img/Project-hope.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">05</p>
          <img
            src="/src/img/Razom.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">06</p>
          <img
            src="/src/img/Save-the-children.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">07</p>
          <img
            src="/src/img/United24.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">08</p>
          <img
            src="/src/img/World-vision.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
      <div class="slider-item">
        <a href="" class="slider-link"
          ><p class="slider-link-text">09</p>
          <img
            src="/src/img/Action-against.png"
            alt=""
            height="32"
            class="slider-link-img"
        /></a>
      </div>
    </div>
  </div>
</section>
