<section class="section-all-categories">
  <div class="block-all-categories">
    <h2 class="all-categories-js all-categories">All categories</h2>
    <ul class="book-kategories-list-js book-categories-list"></ul>
  </div>
  <div class="div-qqq">
    <h2>Support Ukraine</h2>
    <div class="carousel">
      <div>
        <p>test1</p>
      </div>
      <div>
        <p>test2</p>
      </div>
      <div>
        <p>test3</p>
      </div>
      <div>
        <p>test4</p>
      </div>
      <div>
        <p>test5</p>
      </div>
    </div>
    
    </div>
  </div>
</section>
