<div id="myModal" class="modal">
  <span class="close cursor">&times;</span>
  <div class="modal-content-parent"></div>
  <button type="button" class="add-to-list-btn">Add to shopping list</button>
  <button type="button" class="remove-from-list-btn" hidden>
    Remove from shopping list
  </button>
  <p class="modal-hidden-text" hidden>Сongratulations! You have added the book to the shopping list.<br> To delete, press the button “Remove from the shopping list”.</p>
</div>
<div class="backdrop"></div>
